################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assign3PartB/.vs/Assign3PartB
/Assign3PartB/ControlLibraryAssign3
/Assign3PartB/MainAndDialogForms
