################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assign3PartB/.vs/Assign3PartB
/Assign3PartB/ControlLibraryAssign3
/Assign3PartB/MainAndDialogForms
/FinalAssignmentTeam2/.vs/FinalAssignmentTeam2/v15/Server/sqlite3/db.lock
/FinalAssignmentTeam2/.vs/FinalAssignmentTeam2/v15/Server/sqlite3/storage.ide
/FinalAssignmentTeam2/.vs/FinalAssignmentTeam2/v15
